<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
<link rel="stylesheet" 
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" 
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
	crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Student Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{allStudents}">Student Management</a>
      </li>
     
    </ul>
  </div>
</nav>
<br>
<br>
<br>

	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="">Create A New Student</h1>
				<div class="card-body">
					<form th:action="@{/addStudent}" th:object="${student}" method="POST">
						<div class="form-group">
							<lable>Student Full Name</lable>
							<input
								type="text"
								name="fullName"
								th:field="*{fullName}"
								placeholder="Enter Student's full name"
								class="form-control"
								required="required"
							></input>
						</div>
						<div class="form-group">
							<lable>Student's Stream </lable>
							<input
								type="text"
								name="stream"
								th:field="*{stream}"
								placeholder="Enter Student's stream"
								class="form-control"
								required="required"
							></input>
						</div>
						<div class="form-group">
							<lable>Student's Email</lable>
							<input
								type="text"
								name="email"
								th:field="*{email}"
								placeholder="Enter Student's  email!"
								class="form-control"
								required="required"
							></input>
						</div>
						<div class="form-group">
							<lable>Student's Contact Number</lable>
							<input
								type="text"
								name="contactNumber"
								th:field="*{contactNumber}"
								placeholder="Enter Student's  contact Number"
								class="form-control"
								required="required"
							></input>
						</div>
						<div class="form-group">
							<lable>Student's Fees status</lable>
							<input
								type="text"
								name="fees"
								th:field="*{fees}"
								placeholder="Enter Student's  fees status"
								class="form-control"
							></input>
						</div>
						<div class="box-footer">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>